body {
    background-image: linear-gradient(red, rgb(113, 10, 10));
    font-family: sans-serif;
    color:#000000b9
}
#main-contents {
    border: thick double #c9a0a0;
    text-emphasis-color: rgb(181, 0, 9);
    background-color: #D11920;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;

}
a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 200%;
}
a:visited {
    color:rgba(0, 0, 0, 0.651);
}
a:hover {
    color: rgb(255, 177, 81);
}
a:active {
    color:rgb(40, 214, 245);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 15%;
}
.links {
    border-radius: 25px;
    border: 2px solid #f64545;
    text-emphasis-color: rgb(181, 0, 9);
    text-align: left;
    background-color: #D11920;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
#title {
    text-align: center;
}
